@font-face{font-family:'Schibsted Grotesk';font-weight:500;src:url('../../public/fonts/SchibstedGrotesk-w500-s100.ttf')}
@font-face{font-family:'Schibsted Grotesk';font-weight:600;src:url('../../public/fonts/SchibstedGrotesk-w600-s100.ttf')}
@font-face{font-family:'Schibsted Grotesk';font-weight:700;src:url('../../public/fonts/SchibstedGrotesk-w700-s100.ttf')}
@font-face{font-family:'Schibsted Grotesk';font-weight:800;src:url('../../public/fonts/SchibstedGrotesk-w800-s100.ttf')}
@font-face{font-family:'Anton';font-weight:400;src:url('../../public/fonts/Anton-w400-s100.ttf')}
